html {
	width: 375px;
	margin: 0 auto;
	background-color: #292929;
}

body {
	box-sizing: border-box;
	background-color: #fff;
	color: #4d4d4d;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding-bottom: 20px;
}

ul {
	margin: 0;
	padding: 0;
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: #fff;
}
section {
	position: relative;
}

#mainHeading {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 57px;
	background-image: url(http://tsala.hunterhotels.com/wp-content/uploads/2013/01/Tsala2-300x88.png);
	background-size: 50%;
	background-repeat: no-repeat;
	text-align: right;
}

#mainHeading .tgcsa li {
	display: inline-block;
	background-image: url(https://www.lekkeslaap.co.za/img/snippet/tgcsa.svg);
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
}

.specialBanner {
	position: absolute;
	background-color: rgba(200, 200, 200, 0.8);
	color: #333;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 1px;
	line-height: 30px;
	padding: 6px 0;
	width: 100%;
	text-align: center;
	z-index: 1;
}

#carousel {
	display: relative;
	width: 375px;
	height: 250px;
}

#carousel img {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.info .sectionHeading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info .sectionHeading h2 {
	margin-left: 10px;
}

.info .sectionHeading a {
	display: block;
	margin-right: 10px;
	padding: 4px 6px;
	border: 1px solid #f15a24;
	border-radius: 4px;
	background-color: #f15a24;
	font-weight: bolder;
}

.info p {
	padding: 0 10px;
}

.accordian {
	padding: 0 10px;
	width: calc(100% - 20px);
	margin-bottom: 15px;
}

.accordian header {
	font-size: 1.2em;
	font-weight: bolder;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: #9e9d9d solid 1px;
	cursor: pointer;
}

.accordian .chevron {
	width: 10px;
	height: 10px;
	float: right;
	margin-top: 6px;
}

.accordian .itemsContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.accordian .item {
	flex-basis: 47%;
	display: flex;
	align-items: center;
	padding: 4px 5px;
}

.accordian .check {
	width: 10px;
	height: 10px;
	margin-right: 5px;
}

.accordian .collapsed {
	display: none;
}

.rotate {
	transform: rotate(-90deg);
}
